/*=========== FIlters ============== */

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-content {
    top: -5px;
    position: absolute;
    background-color: white;
    width: max-content;
    min-width: 250px;
    max-width: 250px; /* Set max-height */
    max-height: 350px; /* Set max-height */
    overflow-y: auto; /* Add scroll bar if content exceeds max-height */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    opacity: 0; /* Initially hide with opacity */
    z-index: -1;
    transition: opacity 0.5s ease; /* Add transition effect */
    left: -275px;
  }

  @media  (max-width:1200px) {
    dropdown-content {
      right: -275px;
    }
}

 
  .dropdown:hover .dropdown-content {
    opacity: 1; /* Show with fade-in effect */
    z-index: 10000;
  }

  .dropdown-content label {
    display: block;
    margin-bottom: 8px;
  }

  .dropdown button {
    padding: .3rem 0.6rem;
    font-size: 16px;
    border-radius: 10px; /* Adjust the value to control the curve */
    border: none;
    background-color: white;
    width: 100%;
    text-align: left;
}


.dropbtn:hover {
  background-color:  rgb(225, 221, 221);
  border: none;
  width: 100%;
  border-radius: 7px;
}


#clear-filter button{
}


#clear-filter button:hover {
  background-color: red;
  color: black;
}




/* ++++====================+++++++++++ */



/* ====== search -====== */
  #search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #search-div img {
    margin-right: 10px;
    order: -1; /* Move the image to the left */
  }

  #search-div input[type="text"] {
    padding: 18px 18px;
    border-radius: 8px;
    height: 45px;
    background-color: #f5f1f1 ;
    border: 1px solid #7b7878;
    box-shadow: inset 0 3px 4px rgba(51, 43, 43, 0.1);
    width: 700px; /* Make the input field wider */
  }

  #search-div button {
    background-color: transparent;
    color: #333;
    border: none;
    border-radius: 10px;
    padding: auto auto;
    cursor: pointer;
    position: absolute;
    right: 2%;
  }

  #search-div button:hover {
    background-color: black;
    color: white;
  }

  #search-div button i {
    font-size: 18px;
  }

#logo-1 {
    height: 80px;  /* Increased size */
    width: 200px;  
    border-radius: 20px;
    background-color: #373030;  /* Add contrast */
}

  /* ====   ======= */

.myTable tr {
  background-color: white !important;
}
  
.myTable::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar width */
  height: 0;
}

/* Optional: Show scrollbar track for mouse scrolling */
.myTable::-webkit-scrollbar-track {
  background: transparent;  /* Make scrollbar track transparent */
}

/* Optional: Show scrollbar thumb for mouse scrolling */
.myTable::-webkit-scrollbar-thumb {
  background: transparent;  /* Make scrollbar thumb transparent */
}
